<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgF3KT0ojDzgC24VZYiutWrRCUg_EUJlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>780302459736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hushhxtinder</string>
	<key>PROJECT_ID</key>
	<string>hushxtinder</string>
	<key>STORAGE_BUCKET</key>
	<string>hushxtinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780302459736:ios:3247817b67676b83e4fb2d</string>
</dict>
</plist>